.image-display {
  position: relative;
}

.img {
  width: 600px;
}

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grid-square {
  width: 20px;
  flex: 1;
  border: 1px solid black;
}

.grid-square:hover {
  background-color: #e6e6e6;
}

.grid-square.selected {
  background-color: white;
}